<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <title>Worko.ai</title>

</head>

<body>
  <%- include('./partials/nav') %>
   <h1>Worko.ai users</h1>
  <ul class="users">
    <% users.forEach(user => { %>
      <li class="user">
        <span><%= user.name %></span>
        <span class="sec"><%= user.email %></span>
        <span class="third">
          <a href="/worko/user/<%= user.id %>"> 
            <i class="fa-solid fa-eye" style="color: #63E6BE;"></i>
          </a>
        </span>
        <span>
          <a href="/worko/delete/<%= user.id %>">
            <i class="fa-solid fa-trash" style="color: #cf2a2a;"></i>
          </a>
        </span>
      </li>
    <% }) %>
  </ul>
</body>
</html>